---
import whatsapp from '../assets/whatsapp.svg?raw';
import youtube from '../assets/youtube.svg?raw';
import github from '../assets/github.svg?raw';
import instagram from '../assets/instagram.svg?raw';
import twitter from '../assets/twitter.svg?raw';
import linkedin from '../assets/linkedin.svg?raw';
import twitch from '../assets/twitch.svg?raw';
import facebook from '../assets/facebook.svg?raw';


interface SocialLink {
  href: string;
  ariaLabel: string;
  icon: string;
}

interface Props {
  links: SocialLink[];
}

const { links } = Astro.props;

const icons: Record<string, string> = {
  whatsapp,
  youtube,
  github,
  instagram,
  twitter,
  linkedin,
  twitch,
  facebook,
};
---

<div class='flex justify-center gap-2 flex-wrap'>
  {
    links.map((link) => (
      <a
        href={link.href}
        target='_blank'
        rel='noopener noreferrer'
        aria-label={link.ariaLabel}
        class='social-icon'
        set:html={icons[link.icon]}
      />
    ))
  }
</div>
